{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Paieškos pagal "{{ query }}" rezultatai:</h2>
<p></p>
{% if preke_objects %}
<ul>
    {% for p_o in preke_objects %}
    <li>
        <p><strong>Prekė: </strong>
            <a href="{% url 'preke' p_o.id %}">{{ p_o.pavadinimas }}</a>
        </p>
        <p><strong>Kategorija: </strong>{{ p_o.prekes_kategorijos }}</p>
        <hr/>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nieko nerasta...</p>
{% endif %}

{% if kategorija_objects %}
<ul>
    {% for k_o in kategorija_objects %}
    <li>
        <a href="{% url 'kategorija' k_o.id %}">{{ k_o.pavadinimas }}</a>
        <hr/>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nieko nerasta...</p>
{% endif %}
{% endblock %}